/* MEDIA QUERY STYLES */



@media only screen and (min-width : 768px) and (max-width : 991px){
	#slideshow{height:200px;min-height:0;}
	#bannerSlide{}
    #columnContent{width:0%;}
    #galleryContent{width:65%;}
	#videoContent{width:60%;}
}	


@media only screen and (min-width : 992px) and (max-width : 1024px){
	#slideshow{height:400px;}
	#bannerSlide{}
    #columnContent{width:1000px;}
    #galleryContent{width:65%;}
	#videoContent{width:60%;}
}


 @media only screen and (min-width : 1025px) and (max-width : 1280px){
	#slideshow{height:35em;min-height:0;min-width:0;}
	#bannerSlide{}
    #columnContent{width:1100px;min-width:0;}
	.column1, .column2, .column3 {width:28%;min-width:20em;}
    #galleryContent{width:70%;}
	#videoContent{width:90%;min-width:1010px;}

}
 
  @media only screen and (min-width : 1281px) and (max-width : 1366px){
	#slideshow{height:600px;}
	#bannerSlide{}
    #columnContent{width:0%;}
    #galleryContent{width:65%;}
	#videoContent{width:60%;}
}

  @media only screen and (min-width : 1367px) and (max-width : 1440px){
	#slideshow{height:600px;}
	#bannerSlide{}
    #columnContent{width:0%;}
    #galleryContent{width:65%;}
	#videoContent{width:60%;margin-top:2em;}
}


  @media only screen and (min-width : 1441px) and (max-width : 1680px){
	#slideshow{height:700px;}
	#bannerSlide{}
    #columnContent{width:0%;}
    #galleryContent{width:65%;}
	#videoContent{width:60%;margin-top:2em;}
}

  @media only screen and (min-width : 1681px) and (max-width : 1919px){
	#slideshow{height:800px;}
	#bannerSlide{margin-bottom:4em;}
    #columnContent{width:0%;}
    #galleryContent{width:65%;}
	#videoContent{width:60%;}
}

  @media only screen and (min-width : 1920px) and (max-width : 1999px){
	#slideshow{height:900px;}
	#bannerSlide{margin-bottom:4em;}
    #columnContent{width:0%;}
    #galleryContent{width:65%;}
	#videoContent{width:60%;}
}

  @media only screen and (min-width : 2000px) and (max-width : 2400px){
	#slideshow{height:900px;}
	#bannerSlide{margin-bottom:6em;}
    #columnContent{width:1200px;}
    #galleryContent{width:65%;}
	#videoContent{width:30%;}
}

  @media only screen and (min-width : 2401px) and (max-width : 3999px){
	#slideshow{height:1000px;}
	#bannerSlide{margin-bottom:6em;}
    #columnContent{width:1200px;}
    #galleryContent{width:65%;}
	#videoContent{width:30%;}
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
/* Apple iPhone 4 */
#banner{width:100%;max-width:480px;min-width:0;height:220px;position:static;}
.imgLogo{float:none;margin:10px auto;}
#navbar{width:100%;max-width:480px;min-width:0;top:0px;height:100px;font-size:1.1em;text-align:center;}
ul.dropdown ul{width:320px;float:none;}
ul.shareButtons{float:none;margin:20px auto;min-width:0;width:140px;}
ul.dropdown{padding:0;margin:0;max-width:480px;float:none;}
ul.dropdown li{padding:0 5px;margin:5px;max-width:320px;display:inline-block;float:none;}
.buttonbox{visibility:hidden;display:none;}
#mainContentHomepage{width:100%;max-width:480px;min-width:0;height:auto;top:0;text-align:center;}
.textbox{min-width:0;max-width:480px;width:80%;top:10px;margin: auto;padding:0;left:10%;position:absolute;}
h1.title{width:90%; font-size:2.5em;margin:10px;}
h2.title{width:100%; font-size:0.8em;margin:10px;}
#slideshow{width:100%;max-width:480px;height:400px;min-height:0;background-image:url(../images/mobile/homepage600px.jpg);background-repeat:no-repeat;}
#slideshow img{width:100%;max-width:480px;height:100px;min-height:0;visibility:hidden;display:none;}

.column1, .column2, .column3 {width:90%;max-width:480px;margin:0; padding:0;height:auto;left:5%;}
.homepageImgContainer img{margin:2% auto;}

#footer{width:320px;max-width:320px;background-color:#ffffff;height:auto;}
.footerImg{padding:0px;}
ul.footerLogos{width:320px;max-width:480px;height:auto;float:none;text-align:center;margin:10px auto;padding:0;}
ul.footerLogos li{width:100%;padding:0;margin:20px;}
/* About pages */
#bannerSlide{visibility:hidden;display:none;}
#mainContent{width:100%;max-width:480px;min-width:0;top:0;}
#columnContent{width:100%;max-width:480px;min-width:0;height:auto;min-height:0;padding:0;}
.pageContentLeft{width:300px;max-width:480px;}
.pageContentRight{visibility:hidden;display:none;}

.newsPageContentLeft{width:95%;max-width:480px;float:none;margin:5px;padding:0;}
.newsPageContentRight{width:95%;max-width:480px;float:none;margin:5px;padding:0;}
.newsPageVideo{display:none;visibility:hidden;}

.linkBox li img{display:none;visibility: hidden;}

.fancybox img{width:120px;height:83px;margin-left:6px;}
.imgHolder {width:120px;height:120px;margin:20px 5px 60px 5px; padding:0;}
.imgHolder img{width:120px;height:120px;}
.imgHolder .caption{width:120px;}
.imgHolder .caption p{font-size:0.8em}
h2.pageContent{margin-top:1em;}

#videoContent{width:100%;min-width:0px;height:auto;margin:0 auto;padding:0;}
.videoContentLeft{min-width:0;width:90%;max-width:480px;float:none;}
.videoContentRight{min-width:0;width:90%;max-width:480px;float:none;}
#videoContent iframe{width:95%;max-width:480px;}
}


/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
#banner{width:100%;max-width:568px;min-width:0;height:220px;position:static;}
.imgLogo{float:none;margin:10px auto;}
#navbar{width:100%;max-width:568px;min-width:0;top:0px;height:100px;font-size:1.1em;text-align:center;}
ul.dropdown ul{width:320px;float:none;}
ul.shareButtons{float:none;margin:20px auto;min-width:0;width:140px;}
ul.dropdown{padding:0;margin:0;max-width:568px;float:none;}
ul.dropdown li{padding:0 5px;margin:5px;max-width:320px;display:inline-block;float:none;}
.buttonbox{visibility:hidden;display:none;}
#mainContentHomepage{width:100%;max-width:568px;min-width:0;height:auto;top:0;text-align:center;}
.textbox{min-width:0;max-width:568px;width:80%;top:10px;margin: auto;padding:0;left:10%;position:absolute;}
h1.title{width:90%; font-size:2.5em;margin:10px;}
h2.title{width:100%; font-size:0.8em;margin:10px;}
#slideshow{width:100%;max-width:568px;height:400px;min-height:0;background-image:url(../images/mobile/homepage600px.jpg);background-repeat:no-repeat;}
#slideshow img{width:100%;max-width:568px;height:100px;min-height:0;visibility:hidden;display:none;}

.column1, .column2, .column3 {width:90%;max-width:568px;margin:0; padding:0;height:auto;left:5%;}
.homepageImgContainer img{margin:2% auto;}

#footer{width:320px;max-width:320px;background-color:#ffffff;height:auto;}
.footerImg{padding:0px;}
ul.footerLogos{width:320px;max-width:568px;height:auto;float:none;text-align:center;margin:10px auto;padding:0;}
ul.footerLogos li{width:100%;padding:0;margin:20px;}
/* About pages */
#bannerSlide{visibility:hidden;display:none;}
#mainContent{width:100%;max-width:568px;min-width:0;top:0;}
#columnContent{width:100%;max-width:568px;min-width:0;height:auto;min-height:0;padding:0;}
.pageContentLeft{width:300px;max-width:568px;}
.pageContentRight{visibility:hidden;display:none;}

.newsPageContentLeft{width:95%;max-width:568px;float:none;margin:5px;padding:0;}
.newsPageContentRight{width:95%;max-width:568px;float:none;margin:5px;padding:0;}
.newsPageVideo{display:none;visibility:hidden;}

.linkBox li img{display:none;visibility: hidden;}

.fancybox img{width:120px;height:83px;margin-left:6px;}
.imgHolder {width:120px;height:120px;margin:20px 5px 60px 5px; padding:0;}
.imgHolder img{width:120px;height:120px;}
.imgHolder .caption{width:120px;}
.imgHolder .caption p{font-size:0.8em}
h2.pageContent{margin-top:1em;}

#videoContent{width:100%;min-width:0px;height:auto;margin:0 auto;padding:0;}
.videoContentLeft{min-width:0;width:90%;max-width:568px;float:none;}
.videoContentRight{min-width:0;width:90%;max-width:568px;float:none;}
#videoContent iframe{width:95%;max-width:568px;}
}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
#banner{width:100%;max-width:568px;min-width:0;height:220px;position:static;}
.imgLogo{float:none;margin:10px auto;}
#navbar{width:100%;max-width:568px;min-width:0;top:0px;height:100px;font-size:1.1em;text-align:center;}
ul.dropdown ul{width:320px;float:none;}
ul.shareButtons{float:none;margin:20px auto;min-width:0;width:140px;}
ul.dropdown{padding:0;margin:0;max-width:568px;float:none;}
ul.dropdown li{padding:0 5px;margin:5px;max-width:320px;display:inline-block;float:none;}
.buttonbox{visibility:hidden;display:none;}
#mainContentHomepage{width:100%;max-width:568px;min-width:0;height:auto;top:0;text-align:center;}
.textbox{min-width:0;max-width:568px;width:80%;top:10px;margin: auto;padding:0;left:10%;position:absolute;}
h1.title{width:90%; font-size:2.5em;margin:10px;}
h2.title{width:100%; font-size:0.8em;margin:10px;}
#slideshow{width:100%;max-width:568px;height:400px;min-height:0;background-image:url(../images/mobile/homepage600px.jpg);background-repeat:no-repeat;}
#slideshow img{width:100%;max-width:568px;height:100px;min-height:0;visibility:hidden;display:none;}

.column1, .column2, .column3 {width:90%;max-width:568px;margin:0; padding:0;height:auto;left:5%;}
.homepageImgContainer img{margin:2% auto;}

#footer{width:320px;max-width:320px;background-color:#ffffff;height:auto;}
.footerImg{padding:0px;}
ul.footerLogos{width:320px;max-width:568px;height:auto;float:none;text-align:center;margin:10px auto;padding:0;}
ul.footerLogos li{width:100%;padding:0;margin:20px;}
/* About pages */
#bannerSlide{visibility:hidden;display:none;}
#mainContent{width:100%;max-width:568px;min-width:0;top:0;}
#columnContent{width:100%;max-width:568px;min-width:0;height:auto;min-height:0;padding:0;}
.pageContentLeft{width:300px;max-width:568px;}
.pageContentRight{visibility:hidden;display:none;}

.newsPageContentLeft{width:95%;max-width:568px;float:none;margin:5px;padding:0;}
.newsPageContentRight{width:95%;max-width:568px;float:none;margin:5px;padding:0;}
.newsPageVideo{display:none;visibility:hidden;}

.linkBox li img{display:none;visibility: hidden;}

.fancybox img{width:120px;height:83px;margin-left:6px;}
.imgHolder {width:120px;height:120px;margin:20px 5px 60px 5px; padding:0;}
.imgHolder img{width:120px;height:120px;}
.imgHolder .caption{width:120px;}
.imgHolder .caption p{font-size:0.8em}
h2.pageContent{margin-top:1em;}

#videoContent{width:100%;min-width:0px;height:auto;margin:0 auto;padding:0;}
.videoContentLeft{min-width:0;width:90%;max-width:568px;float:none;}
.videoContentRight{min-width:0;width:90%;max-width:568px;float:none;}
#videoContent iframe{width:95%;max-width:568px;}
}
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
#banner{width:100%;max-width:667px;min-width:0;height:220px;position:static;}
.imgLogo{float:none;margin:10px auto;}
#navbar{width:100%;max-width:667px;min-width:0;top:0px;height:100px;font-size:1.1em;text-align:center;}
ul.dropdown ul{width:375px;float:none;}
ul.shareButtons{float:none;margin:20px auto;min-width:0;width:140px;}
ul.dropdown{padding:0;margin:0;max-width:667px;float:none;}
ul.dropdown li{padding:0 5px;margin:5px;max-width:375px;display:inline-block;float:none;}
.buttonbox{visibility:hidden;display:none;}
#mainContentHomepage{width:100%;max-width:667px;min-width:0;height:auto;top:0;text-align:center;}
.textbox{min-width:0;max-width:667px;width:80%;top:10px;margin: auto;padding:0;left:10%;position:absolute;}
h1.title{width:90%; font-size:2.5em;margin:10px;}
h2.title{width:100%; font-size:0.8em;margin:10px;}
#slideshow{width:100%;max-width:667px;height:400px;min-height:0;background-image:url(../images/mobile/homepage600px.jpg);background-repeat:no-repeat;}
#slideshow img{width:100%;max-width:667px;height:100px;min-height:0;visibility:hidden;display:none;}

.column1, .column2, .column3 {width:90%;max-width:667px;margin:0; padding:0;height:auto;left:5%;}
.homepageImgContainer img{margin:2% auto;}

#footer{width:375px;max-width:375px;background-color:#ffffff;height:auto;}
.footerImg{padding:0px;}
ul.footerLogos{width:375px;max-width:667px;height:auto;float:none;text-align:center;margin:10px auto;padding:0;}
ul.footerLogos li{width:100%;padding:0;margin:20px;}
/* About pages */
#bannerSlide{visibility:hidden;display:none;}
#mainContent{width:100%;max-width:667px;min-width:0;top:0;}
#columnContent{width:100%;max-width:667px;min-width:0;height:auto;min-height:0;padding:0;}
.pageContentLeft{width:300px;max-width:667px;}
.pageContentRight{visibility:hidden;display:none;}

.newsPageContentLeft{width:95%;max-width:667px;float:none;margin:5px;padding:0;}
.newsPageContentRight{width:95%;max-width:667px;float:none;margin:5px;padding:0;}
.newsPageVideo{display:none;visibility:hidden;}

.linkBox li img{display:none;visibility: hidden;}

.fancybox img{width:120px;height:83px;margin-left:6px;}
.imgHolder {width:120px;height:120px;margin:20px 5px 60px 5px; padding:0;}
.imgHolder img{width:120px;height:120px;}
.imgHolder .caption{width:120px;}
.imgHolder .caption p{font-size:0.8em}
h2.pageContent{margin-top:1em;}

#videoContent{width:100%;min-width:0px;height:auto;margin:0 auto;padding:0;}
.videoContentLeft{min-width:0;width:90%;max-width:667px;float:none;}
.videoContentRight{min-width:0;width:90%;max-width:667px;float:none;}
#videoContent iframe{width:95%;max-width:667px;}
}



/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
#banner{width:100%;max-width:736px;min-width:0;height:220px;position:static;}
.imgLogo{float:none;margin:10px auto;}
#navbar{width:100%;max-width:736px;min-width:0;top:0px;height:100px;font-size:1.1em;text-align:center;}
ul.dropdown ul{width:414px;float:none;}
ul.shareButtons{float:none;margin:20px auto;min-width:0;width:140px;}
ul.dropdown{padding:0;margin:0;max-width:736px;float:none;}
ul.dropdown li{padding:0 5px;margin:5px;max-width:414px;display:inline-block;float:none;}
.buttonbox{visibility:hidden;display:none;}
#mainContentHomepage{width:100%;max-width:736px;min-width:0;height:auto;top:0;text-align:center;}
.textbox{min-width:0;max-width:736px;width:80%;top:10px;margin: auto;padding:0;left:10%;position:absolute;}
h1.title{width:90%; font-size:2.5em;margin:10px;}
h2.title{width:100%; font-size:0.8em;margin:10px;}
#slideshow{width:100%;max-width:736px;height:400px;min-height:0;background-image:url(../images/mobile/homepage600px.jpg);background-repeat:no-repeat;}
#slideshow img{width:100%;max-width:736px;height:100px;min-height:0;visibility:hidden;display:none;}

.column1, .column2, .column3 {width:90%;max-width:736px;margin:0; padding:0;height:auto;left:5%;}
.homepageImgContainer img{margin:2% auto;}

#footer{width:414px;max-width:414px;background-color:#ffffff;height:auto;}
.footerImg{padding:0px;}
ul.footerLogos{width:414px;max-width:736px;height:auto;float:none;text-align:center;margin:10px auto;padding:0;}
ul.footerLogos li{width:100%;padding:0;margin:20px;}
/* About pages */
#bannerSlide{visibility:hidden;display:none;}
#mainContent{width:100%;max-width:736px;min-width:0;top:0;}
#columnContent{width:100%;max-width:736px;min-width:0;height:auto;min-height:0;padding:0;}
.pageContentLeft{width:300px;max-width:736px;}
.pageContentRight{visibility:hidden;display:none;}

.newsPageContentLeft{width:95%;max-width:736px;float:none;margin:5px;padding:0;}
.newsPageContentRight{width:95%;max-width:736px;float:none;margin:5px;padding:0;}
.newsPageVideo{display:none;visibility:hidden;}

.linkBox li img{display:none;visibility: hidden;}

.fancybox img{width:120px;height:83px;margin-left:6px;}
.imgHolder {width:120px;height:120px;margin:20px 5px 60px 5px; padding:0;}
.imgHolder img{width:120px;height:120px;}
.imgHolder .caption{width:120px;}
.imgHolder .caption p{font-size:0.8em}
h2.pageContent{margin-top:1em;}

#videoContent{width:100%;min-width:0px;height:auto;margin:0 auto;padding:0;}
.videoContentLeft{min-width:0;width:90%;max-width:736px;float:none;}
.videoContentRight{min-width:0;width:90%;max-width:736px;float:none;}
#videoContent iframe{width:95%;max-width:736px;}
}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
    #wrapper{width:100%;max-width:1024px;min-width:0}
    #banner{width:100%;max-width:1024px;min-width:0}
    .imgLogo{left:0;margin:10px 0;padding:10px 0;}
    ul.shareButtons{float:right;margin:30px 0px;min-width:0;width:140px;}
    #navbar{min-width:0;max-width:1024px;width:60%;margin-top:-5px;}
    ul.dropdown ul{width:320px;float:none;}
    ul.dropdown{padding:0;margin:0;max-width:768px;float:none;}
    ul.dropdown li{padding:0 4px;margin:0px;max-width:768px;display:inline-block;float:none;}

    #mainContent{width:100%;max-width:1024px;}

    #slideshow{width:100%;max-width:1024px;height:600px;min-height:0;background-image:url(../images/mobile/homepage600px.jpg);background-repeat:no-repeat;}
    #slideshow img{width:100%;max-width:1024px;height:600px;min-height:0;}
    #columnContent{width:100%;max-width:1024px;min-width:0;margin:0 auto;}
    .column1, .column2, .column3{min-width:0;max-width:100%;width:27%;}
    .homepageImgContainer img{width:100%;height:100%;margin:2% auto;}

    #footer{width:768px;max-width:1024px;background-color:#ffffff;height:auto;}
    .footerImg{padding:0px;}
    ul.footerLogos{width:768px;max-width:1024px;height:auto;float:none;text-align:center;margin:10px auto;padding:0;}
    ul.footerLogos li{width:100%;padding:0;margin:20px;}
}
